<div class="wrap">
    <h1> Musyimi Family Fund Doantions </h1>    <br>

    <?php settings_errors(); ?>

    <div class="pt-2">
        <table class="donationsTable table table-striped table-bordered" style="width: 100%">
        <thead class="text-uppercase">
        <tr>
            <th>Donor</th>
            <th nowrap="">Tranaction</th>
            <th>Amount</th>
            <th>Channel</th>
            <th>Reference</th>
            <th>Paid On</th>
            <th>Status</th>
            <th>Tribute</th>
        </tr>
        </thead>
        <tbody>
        {% for donation in donations %}
        <tr class="align-middle">
            <td nowrap>
                <span class="text-info text-uppercase">{{ donation.name| default('Anonymous Donor') }}</span> <br>
                <small class="text-muted font-weight-bold">{{ donation.email }} | {{ donation.phone }}</small>
            </td>
            <td class="align-middle" nowrap>{{ donation.transaction_id }}</td>
            <td class="align-middle" nowrap>{{ donation.currency }} {{ donation.amount }}</td>
            <td class="align-middle">{{ donation.payment_type|default('N/A') }}</td>
            <td class="align-middle">{{ donation.transaction_ref|default('N/A') }}</td>
            <td class="align-middle" nowrap>{{ donation.payment_date is empty ? "N/A" : donation.payment_date|date('M d, Y') }}</td>
            <td class="align-middle">
                <span class="badge badge-{{ attribute(status_badges_map, donation.status) }}">{{ donation.status }}</span>
            </td>
            <td class="align-middle" nowrap>{{ donation.tribute | default('N/A') }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
</div>
